# Secrets
*.env
.env.*
application-local.yml
application-local.properties

.idea
.claude

# Java
*.class
*.jar
*.war
*.ear
target/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml